/* App header */
div.headerArea {
	padding: 1rem;
	padding-top: 2rem;
	background-color: var(--backgroundLightLow);
}

form.headerForm {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}

/* Text input form */
div.inputForm,
div.optionsForm {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

div.inputForm label,
div.optionsForm label {
	width : 100%;
}

form label.formHeader {
	margin: 0;
	font-size: 1rem;
	text-transform: uppercase;

	font-weight: 600;
	letter-spacing: 0.05em;
}

form textarea {
	resize: vertical;
	min-height: 1.52rem;
	padding: .5rem;

	background-color: var(--backgroundDarkLow);
	border: 1px solid var(--borderLightMid);

	color: #fff;
	font-size: 1.2rem;
	opacity: .7;

	transition: background-color .1s,
				border .1s,
				opacity .1s;
}
form textarea:hover {
	opacity: 1;
}

form textarea.inputTextField:active,
form textarea.inputTextField:focus {
	opacity: 1;
	border-color: var(--borderLightHigh);
	background-color: transparent;
	outline: none;
}

button.inputTextSubmitBtn {
	font-size: 1.1rem;
}

/* Output rows */
div.output {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

/* Individual output row */
div.outputStep {
	display: flex;
	flex-direction: column;
	
	padding: 1rem;
	padding-bottom: 1rem;

	background: var(--backgroundLightLow);
	transition: all .1s;
}

div.outputStepHeader {
	display: flex;
	align-items: center;
	height: 2rem;
	gap: .5rem;

	margin-bottom: 1rem;
	border-bottom: 1px solid var(--borderLightLow);
	padding-bottom: .5rem;
}

div.outputStep h1 {
	margin: 0;
	font-size: 1rem;
	text-transform: uppercase;

	font-weight: 600;
	letter-spacing: 0.05em;
}

div.outputStepHeader button.outputCopyBtn {
	padding: .3rem .6rem;
	font-size: .8rem;
}
div.outputStepHeader button.outputCopyBtn:first-of-type {
	margin-left: auto;
}

/* If the step didn't involve any changes from the previous step */
div.outputStep.noChangesMade {
	opacity: 0.7;
}
div.outputStep.noChangesMade h1 {
	color: var(--textMid);
	text-decoration: line-through;
}

/* Final output row buttons */
div.outputStep div.finalStepButtons {
	display: flex;
	align-items: justify;
	height: 3rem;
	gap: .5rem;
	margin-top: 2rem;
}
