/* Colour-coding different token types */
.tokenParticle:not(.tokenHighlighted) {
	color: #fbb;
}
.tokenParticle.tokenHighlighted {
	border-color: #fbb;
}
.tokenParticle.tokenHighlightedMain {
	background: #fbb;
}

button.tokenOutput.tokenNoun:not(.tokenHighlighted) {
	color: #fbf;
}
button.tokenOutput.tokenNoun.tokenHighlighted {
	border-color: #fbf;
}
button.tokenOutput.tokenNoun.tokenHighlightedMain {
	background-color: #fbf;
}

button.tokenOutput.tokenVerb,
button.tokenOutput.tokenVerbAux {
	color: #aef;
}
button.tokenOutput.tokenVerbAux {
	margin-left: 0;
}
button.tokenOutput.tokenVerb.tokenHighlighted,
button.tokenOutput.tokenVerbAux.tokenHighlighted {
	border-color: #aef;
}
button.tokenOutput.tokenVerb.tokenHighlightedMain,
button.tokenOutput.tokenVerbAux.tokenHighlightedMain {
	background-color: #aef;
}

button.tokenOutput.tokenInterjection {
	color: #fea;
}
button.tokenOutput.tokenInterjection.tokenHighlighted {
	border-color: #fea;
}
button.tokenOutput.tokenInterjection.tokenHighlightedMain {
	background-color: #fea;
}

button.tokenOutput.tokenAdjective {
	color: #bfb;
}
button.tokenOutput.tokenAdjective.tokenHighlighted {
	border-color: #bfb;
}
button.tokenOutput.tokenAdjective.tokenHighlightedMain {
	background-color: #bfb;
}