/* Input form */
form.inputForm {
    margin: .5em;
    border: 1px solid #000;
    padding: .5em;
}

form.inputForm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 5em;
    grid-template-areas: "label label" "field button";

    grid-gap: 5px;
}

label.inputTextLabel {
    grid-area: label;
}

input.inputTextField {
    grid-area: field;
}

button.inputTextSubmitBtn {
    grid-area: button;
}

/* Output rows */
div.output {
    margin: .5em;
    border: 1px solid #000;
    padding: .5em;
    padding-bottom: 1em;
}

div.output h1 {
    font-size: 1em;
    margin: .5em 0;
}

div.output .tokenArrayOutput {
    display: flex;
    flex-wrap: wrap;
}

span.tokenOutput {
    margin: .2em;
    border: 1px solid #000;
    padding: .2em;
}

span.tokenOutput.tokenParticle {
    background-color: #fcc;
}
